<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/voters">Register</a></li>
        <li><a href="/detect">Detect</a></li>
        <li><a href="/verify">Verify</a></li>
    </ul>
</nav>
    