{{!-- <h1>{{title}}</h1> --}}
<div class="inec-brand">
    {{!-- <p>Welcome to {{title}}</p> --}}
    <h1>FaceVerify&trade;</h1>
    <h3 class="grey-text">Rapid fraud prevention using AI</h3>
    <input type="password" style="width: 100%" />
    <a href="verify" class="waves-effect waves-light btn">L O G I N</a>
</div>
